:root {
    --rabenk-font-family: "TurretRoad-Regular", Helvetica;
    --rabenk-font-size: 64px;
    --rabenk-font-style: normal;
    --rabenk-font-weight: 400;
    --rabenk-letter-spacing: 0px;
    --rabenk-line-height: normal;
  }
  